.main_top_nav {
    height: 100%;
    display: inline-block;

    &-list {
        list-style: none;
    }

    &-item {
        float: left;
        display: block;
        border-right: 1px solid #eee;

        &:first-child {
            border-left: 1px solid #eee;
        }
    }

    &-link {
        height: 100%;
        font-size: 16px;
        font-weight: 600;
        line-height: 4em;
        padding: 1.5em 1.5em;
        color: #686f7f;
        cursor: pointer;
        transition: .6s;

        &:hover {
            background: #fff;
        }
    }

}
